[submodule "deps/implot"]
	path = deps/implot
	url = https://github.com/epezent/implot.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "deps/ImGuiAl"]
	path = deps/ImGuiAl
	url = https://github.com/leiradel/ImGuiAl.git
[submodule "deps/ImHotKey"]
	path = deps/ImHotKey
	url = https://github.com/CedricGuillemet/ImHotKey.git
